@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.burger-menu {
    background-color: $primary-color;
    padding: 2rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 200ms ease-out;
    z-index: 2;
    overflow-y: auto;

    &--open {
        transform: translateX(0%);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__title {
        color: $text-color;
        font-size: $Font-size-xl;
    }

    &__list {
        margin-top: 2rem;
    }

    &__item {
        margin-bottom: 1rem;
    }

    &__link {
        color: $text-color;
        padding: 0.5rem 0;
        display: block;
        font-size: 1.2rem;
        font-weight: $Font-weight-lg;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

}

.burger-menu-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: $text-color;
}



body {
    &.menu-open {
        overflow: hidden;
    }
}