// Variable styles
$primary-color: #D0000B;

$text-color: #fff;

// Border Radius
$Border-radius-sm: 3px;
$Border-radius-md: 5px;
$Border-radius-circle: 50%;
$Border-radius-pill: 100px;

// Padding
$Padding-sm: 0.5rem; // 8px
$Padding-md: 1rem; // 16px
$Padding-lg: 1.5rem; // 24px
$Padding-xl: 2rem; // 32px

// Margins
$Margin-sm: 0.5rem; // 8px
$Margin-md: 1rem; // 16px
$Margin-lg: 1.5rem; // 24px
$Margin-xl: 2rem; // 32px

// Gaps
$Gap-sm: 0.5rem; // 8px
$Gap-md: 1rem; // 16px
$Gap-lg: 1.5rem; // 24px
$Gap-xl: 2rem; // 32px

// Font sizes
$Font-size-xs: 0.875em; // 14px
$Font-size-sm: 1em; // 16px
$Font-size-md: 1.24em; // 20px
$Font-size-lg: 1.5em; // 24px
$Font-size-xl: 2em; // 32px

// Font weights
$Font-weight-md: 400; // medium
$Font-weight-lg: 500; // semi-bold
$Font-weight-xl: 600; // bold