@use "../abstracts/variables" as *;

.hero{
    height: 50vh;
    position: relative;

    &__heading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $text-color;
        font-size: 3em;
        text-align: center;
        z-index: 1;
    }

    &__image{
        object-fit: cover;
        object-position: center 60%;
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}